<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net47" />
  <package id="Microsoft.EntityFrameworkCore" version="3.0.0-preview.18572.1" targetFramework="net47" />
  <package id="Microsoft.EntityFrameworkCore.Abstractions" version="3.0.0-preview.18572.1" targetFramework="net47" />
  <package id="Microsoft.EntityFrameworkCore.Analyzers" version="3.0.0-preview.18572.1" targetFramework="net47" />
  <package id="Microsoft.EntityFrameworkCore.Relational" version="3.0.0-preview.18572.1" targetFramework="net47" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="3.0.0-preview.18572.1" targetFramework="net47" />
  <package id="Microsoft.Extensions.Caching.Memory" version="3.0.0-preview.18572.1" targetFramework="net47" />
  <package id="Microsoft.Extensions.Configuration" version="3.0.0-preview.18572.1" targetFramework="net47" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.0.0-preview.18572.1" targetFramework="net47" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="3.0.0-preview.18572.1" targetFramework="net47" />
  <package id="Microsoft.Extensions.DependencyInjection" version="3.0.0-preview.18572.1" targetFramework="net47" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.0.0-preview.18572.1" targetFramework="net47" />
  <package id="Microsoft.Extensions.Logging" version="3.0.0-preview.18572.1" targetFramework="net47" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.0.0-preview.18572.1" targetFramework="net47" />
  <package id="Microsoft.Extensions.Options" version="3.0.0-preview.18572.1" targetFramework="net47" />
  <package id="Microsoft.Extensions.Primitives" version="3.0.0-preview.18572.1" targetFramework="net47" />
  <package id="MySql.Data" version="8.0.13" targetFramework="net47" />
  <package id="Npgsql" version="4.0.4" targetFramework="net47" />
  <package id="Npgsql.EntityFrameworkCore.PostgreSQL" version="3.0.0-preview1" targetFramework="net47" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net47" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net47" />
  <package id="System.Collections.Immutable" version="1.6.0-preview.18571.3" targetFramework="net47" />
  <package id="System.ComponentModel.Annotations" version="4.6.0-preview.18571.3" targetFramework="net47" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.6.0-preview.18571.3" targetFramework="net47" />
  <package id="System.Interactive.Async" version="3.2.0" targetFramework="net47" />
  <package id="System.Memory" version="4.5.2-servicing-27114-05" targetFramework="net47" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0-preview.18571.3" targetFramework="net47" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net47" />
</packages>